//字体规范
$font_small:12Px;
$font_medium_s:12Px;
$font_medium:15Px;
$font_large:17Px;

//背景颜色
$background-color-theme1: #ff0000;
$background-color-theme2:green;
$background-color-theme3:pink;

//图片
$background-image1-url:url("../../assets/images/toolbar-it666-account-normal.png");
$background-image2-url:url("../../assets/images/toolbar-it666-account-selected.png");
$background-image3-url:url("../../assets/images/toolbar-it666-discovery-normal.png");

//导航栏背景颜色
$background-toolbar-color1: #ff0000;
$background-toolbar-color2: green;
$background-toolbar-color3: pink;

//导航栏文字默认颜色
$text-toolbar-color1: #666;
$text-toolbar-color2: #666;
$text-toolbar-color3: #ddd;

//导航栏文字激活颜色
$text-toolbar-active-color1: #ff0000;
$text-toolbar-active-color2: green;
$text-toolbar-active-color3: pink;

//导航栏文字底部边框激活颜色
$text-toolbar-border-color1: black;
$text-toolbar-border-color2: blue;
$text-toolbar-border-color3: yellow;